{% extends 'master.html' %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/blog0.css' %}">



<div class="megacontainer">
    <div class="container_1">
        <img src="/static/img/dog1.jpg" alt="">
        <div class="innercontainer">
            <h3> What Questions Should You Ask A Dog Breeder? </h3>
            <p> You have decided that it’s time to add a pet to your family. After some consideration, you’ve fallen in love with a particular dog breed. Many people then look for a dog breeder to make their purebred-pup dream come true. Like any responsible future pet parent, you still have some questions before you take the plunge and choose your new … </p>
            <a href="dogbreeder">Read More</a>
        </div>    
    </div>
    
    <div class="container_2">
        <img src="/static/img/dog2.jpg" alt="">
        <div class="innercontainer">
        <h3>Cool dog Names </h3>
        
        <p>Getting a new dog? Consider one of these cool dog names and maybe some of the cool will rub off on you.   A cool dog name makes for a cool pet owner. Why settle for an ordinary dog name like Fido or Scooter when your dog can lead the pack with one of these instead?   Star Power … </p>
        <a href="dognames">Read More</a>
        </div>  
    </div>
    <div class="container_3">
        <img src="/static/img/cat1.jpg" alt="">
        <div class="innercontainer">
        <h3>Best Cat Breeds For Kids </h3>
        
        <p>Looking for a cat breed that’s great for children? Look no further than these playful, affectionate companions.   Cats are suitable pets for families with children because they are low-maintenance and easy to care for. However, you’ll want to consider your family’s lifestyle in order to choose the right breed.   Independent, low-energy breeds wouldn’t be a good fit for … </p>
        <a href="catbreed">Read More</a>
        </div>
    </div>
    
    <div class="container_4">
        <img src="/static/img/cat2.jpg" alt="">
        <div class="innercontainer">
        <h3>Nerdiest. Cat Names. Ever. </h3>
        
        <p>Nerdy monikers make for some funny cat names. Consider these choices when naming your nerdy cat! There’s no denying it. Nerdiness is very in. So why not consider some funny cat names to reflect your cat’s — and your own — inner nerd? Whether you and your cat are just a little bit nerdy or totally off the deep end, … </p>
        <a href="nerdycat">Read More</a>
        </div>
    </div>
    
    <div class="container_5">
        <img src="/static/img/dog3.jpg" alt="">
        <div class="innercontainer">
            <h3>A Guide on How to Train a Puppy or Dog</h3>
        
             <p>  Training a puppy or a dog is an important first step in your relationship. The experience is not only bonding but teaches a dog about acceptable behavior. To get started, set a goal. The most popular first lesson for any new puppy or dog is for him to learn his name. 8-Step basic puppy training Training should be a fun, rewarding, and fulfilling experience for both of you. There are some basic steps you’ll include in … </p>
             <a href="trainpuppy">Read More</a>
        </div>
    </div>
</div>

{% endblock %}