{% extends 'master.html' %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/commonblog.css' %}">
<div class="mainblog">
    <h3>Nerdiest. Cat Names. Ever.</h3>

    <p>Nerdy monikers make for some funny cat names. Consider these choices when naming your nerdy cat!</p>
<p>There&#8217;s no denying it. Nerdiness is very in. So why not consider some funny cat names to reflect your cat&#8217;s — and your own — inner nerd?</p>
<p>Whether you and your cat are just a little bit nerdy or totally off the deep end, geeky monikers make for some awesome and interesting pet names.</p>
<p>&nbsp;</p>
<h2 style="color: #4d4751; font-family: Nexa Light,arial,helvetica,sans-serif; font-size: 24px;">Throwback Nerd</h2>
<p>Traditional names that seem antiquated make for some very funny cat names. Here are some old-fashioned ones:</p>
<p style="padding-left: 30px;"><strong>Poindexter</strong>: The ultimate old-school nerd name.</p>
<p style="padding-left: 30px;"><strong>Sheldon</strong>: The perfect name for your brainy feline sidekick.</p>
<p style="padding-left: 30px;"><strong>Milton</strong>: This name is so nerdy it&#8217;s almost cool.</p>
<p style="padding-left: 30px;"><strong>Cornelius</strong>: A nerdy name that hearkens all the way back to the Roman era.</p>
<p style="padding-left: 30px;"><strong>Gertrude</strong>: If your kitty reminds you of your great aunt, you can call her Gertie for short!</p>
<p style="padding-left: 30px;"><strong>Myrtle</strong>: For a cuddly cat, this name fits like a cozy old sweater.</p>
<p>&nbsp;</p>
<h2 style="color: #4d4751; font-family: Nexa Light,arial,helvetica,sans-serif; font-size: 24px;">Tribute Nerd</h2>
<p>Whether you&#8217;re a Trekkie, a Jedi, or in a completely different dimension, let your cat&#8217;s name reflect your nerdy passion.</p>
<p style="padding-left: 30px;"><strong>Zelda</strong>: This video game-inspired name makes a great cat name — especially if your kitty is &#8220;legendary.&#8221;</p>
<p style="padding-left: 30px;"><strong>Boba</strong>: The <em>Star Wars</em> universe is bursting with great nerd names like this one.</p>
<p style="padding-left: 30px;"><strong>Uhura</strong>: A great name for a classic Trekkie. Or, for those <em>Next Generation</em> fans, try Worf for the cat with some inner Klingon.</p>
<p style="padding-left: 30px;"><strong>Tardis</strong>: If your cat seems to transcend space and time, why not give her a <em>Dr. Who</em> moniker?</p>
<p style="padding-left: 30px;"><strong>Dr. Zaius</strong>: If apes can be doctors, cats can, too!</p>
<p style="padding-left: 30px;"><strong>Inara</strong>: If you&#8217;re a <em>Firefly</em> fan, this is the perfect name for your out-of-this-world kitty.</p>
<p>&nbsp;</p>
<h2 style="color: #4d4751; font-family: Nexa Light,arial,helvetica,sans-serif; font-size: 24px;">Science Nerd</h2>
<p>Are you a science nerd with a cat that displays supreme intelligence? Give your smarty cat a thinking nerd&#8217;s name to match her intellect.</p>
<p style="padding-left: 30px;"><strong>Newton</strong>: Pay homage to one of the most influential scientists of all time.</p>
<p style="padding-left: 30px;"><strong>Comet</strong>: For nerdy kitties who are as mysterious as the cosmos!</p>
<p style="padding-left: 30px;"><strong>Q</strong>: Short for quantum, it makes a great name for a smaller kitty.</p>
<p style="padding-left: 30px;"><strong>Bit</strong>: Go back to computing basics with this name, short for &#8220;binary digit.&#8221;</p>
<p style="padding-left: 30px;"><strong>Turing</strong>: No nerd would be complete without a computer, so why not name your cat after one of the fathers of digital computing, Alan Turing?</p>
<p style="padding-left: 30px;"><strong>Plato</strong>: A very fitting name for a philosophical feline.</p>
<p>No matter your choice, remember: Don&#8217;t be afraid to let your nerd flag fly. Which funny cat names do you like best?</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
{% endblock %}