{% extends 'master.html' %}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/commonblog.css' %}">
<div class="mainblog">
<h1>A Guide on How to Train a Puppy or Dog</h1>
 <p>Training a puppy or a dog is an important first step in your relationship. The experience is not only bonding but teaches a dog about acceptable behavior. To get started, set a goal. The most popular first lesson for any new puppy or dog is for him to learn his name.</p> 

<h5>8-Step basic puppy training</h5>
<p>Training should be a fun, rewarding, and fulfilling experience for both of you. There are some basic steps you’ll include in any type of coaching, whether you and your puppy or dog are attempting a brand-new trick or working on basic manners.</p>
<p>&nbsp;</p>
<ul>
    <li>Commitment: Choose a particular area that you’ll continue to use as a training-only area, somewhere you cannot be disturbed, and is relatively quiet.</li>
    <p>&nbsp;</p>
    <li>Patience: The first lesson should be something easy and fun for your puppy to learn, like his name.</li>
    <p>&nbsp;</p>
    <li>Consistency: Limit training sessions to no more than 15 minutes, and a minimum of 5-minute periods, a couple times a day.</li>
    <p>&nbsp;</p>
    <li>Determination: Keep signals and cues simple, and classes focused on one new skill. Use one word per skill learned.</li>
    <p>&nbsp;</p>
    <li>Support: Use a firm, and caring tone of voice. Do not yell or growl at your puppy or dog, only encourage him with positive direction and reinforcement.</li>
    <p>&nbsp;</p>
    <li>Praise: Reward your dog or puppy’s good behavior immediately with something he values like treats made for puppies (his puppy dog food kibble could also be used as a treat), lots of praise or his favorite toy.</li>
    <p>&nbsp;</p>
    <li>Practice: Make the most of natural training opportunities that will help a puppy practice a routine such as sitting before putting his food down. If he is very young, the time that you expect him to sit before eating shouldn’t be longer than a couple of seconds.</li>
    <p>&nbsp;</p>
    <li>Socialize: Puppies learn skills from other dogs and socializing a puppy is one of the most important stages in his development. You can take him to a dog park, sign him up for puppy playtime classes or take very short, leashed walks in an area where there are other dog walkers.</li>
    <p>&nbsp;</p>
</ul>
<h2><strong> </strong>Puppy training techniques</h2>
<p>The best method used when learning how to train a puppy or dog, and the most successful amongst professional trainers is a rewards-based, positive training technique. A reward could be many things, but most importantly, it must be something a puppy or dog values as worthy enough to do, in order to receive the reward.</p>
<p>&nbsp;</p>
<p>Some of the best and most successfully used dog training practices are:</p>
<p>&nbsp;</p>
<ul>
    <li>Voice signals – The easiest way to teach a puppy is by using your voice. Always use a calm, but firm tone with clear instructions on what you expect. Example: Sit! Then reward him when he gets it right.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li>Hand cues – Your puppy or dog will need to have a good understanding of voice commands before introducing hand cues. These types of commands are best for distance training and are often used in agility training.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li>Clicker training – You can train your puppy to follow your instructions using a clicker. The sound is also distracting and will make him pay attention immediately. Clicker noise should be associated with a specific action, like learning to not jump up on you or other people. Reward him for getting it right.</li>
    </ul>
    <p>&nbsp;</p>
    <ul>
    <li>Game playing &#8211; Creating a game around training a puppy or dog could be fun for both of you. You can apply this technique to any object play, such as throwing a toy. When your puppy or dog returns it to you, reward him with a treat.</li>
    </ul>
</div>
 
{% endblock %}